<div class="main-container__wrapper">
  <div class="main-container__form-section">
    <div class="form-section__content-block">  
      <mat-form-field class="example-form-field">
        <input 
          matInput 
          type="number" 
          placeholder="Enter Amount"  
          step="1000"
          [value]="currentCryptoCurrency.value?.total_supply" 
          (change)="setNewCurrentCryptoCurrencyValue($event)"
          >
      </mat-form-field>
      <mat-form-field class="form-section__dropdown">
        <mat-select [formControl]="currentCryptoCurrency" placeholder="Select cryptoCurrency..." #singleSelect>
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Find crypto..."
              noEntriesFoundLabel="'no matching crypto found'"
              [formControl]="filterCryptoCurrency" 
              />
          </mat-option>
  
          <mat-option *ngFor="let cryptoCurrency of filteredCryptoCurrencies | async" [value]="cryptoCurrency">
            <div class="dropdown__area">
              <div class="dropdown__title">
                {{cryptoCurrency.name}}
              </div>
              <div class="dropdown__cheap">{{cryptoCurrency.rating/100 | percent}}</div>
            </div>
            
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <input matInput type="number" [value]="currentCryptoCurrency.value?.name" placeholder="Enter Amount" [ngModel]="currentCryptoCurrency.value?.name">
      </mat-form-field>
    </div>
  </div>
  <div class="main-container__data-view-section">
   <div class="data-view-section__content-block">
    <p class="data-view-section__description">Profit:</p>
    <span class="data-view-section__title">{{this.profit | currency:'$':'code'}}</span>
    <p class="data-view-section__description">Percent:</p>
    <span class="data-view-section__title">{{currentCryptoCurrency.value?.rating/100 | percent}}</span>
   </div>
</div>